.pytest_cache/
pytest-cache-files-*/
.streamlit/secrets.toml
__pycache__/
*.egg-info/
*.pyc
*.pyo
*.pyd
.coverage
htmlcov/
build/
dist/
tests/cluster_smoke_bundle/results/**/*.bibtex
tests/cluster_smoke_bundle/results/**/*.cis
tests/cluster_smoke_bundle/results/**/*.csv
tests/cluster_smoke_bundle/results/**/*.densities
tests/cluster_smoke_bundle/results/**/*.densitiesinfo
tests/cluster_smoke_bundle/results/**/*.engrad
tests/cluster_smoke_bundle/results/**/*.gbw
tests/cluster_smoke_bundle/results/**/*.grad.log
tests/cluster_smoke_bundle/results/**/*.hess
tests/cluster_smoke_bundle/results/**/*.int.log
tests/cluster_smoke_bundle/results/**/*.md.log
tests/cluster_smoke_bundle/results/**/*.mdrestart
tests/cluster_smoke_bundle/results/**/*.opt
tests/cluster_smoke_bundle/results/**/*.property.txt
tests/cluster_smoke_bundle/results/**/*.scf.log
tests/cluster_smoke_bundle/results/**/*.stderr.log
tests/cluster_smoke_bundle/results/**/tempout.txt
tests/cluster_smoke_bundle/results/**/*_trj.xyz
tests/cluster_smoke_bundle/results/**/trajectory.xyz
tests/cluster_smoke_bundle/results/**/*.xyz
